header
    position: absolute
    left: 0
    right: 0
    height: 80px
    z-index: 1
    display: flex
    align-items: center
    justify-content: space-between
    padding-left: 120px
    padding-right: 120px
    background-color: white
    img
        height: 60px
        width: 100px
        mix-blend-mode: multiply
        cursor: pointer
        object-fit: contain
    a
        text-decoration: none
        color: black
        margin-left: 48px
        font-weight: 500
        &:hover
            border-bottom: #00ccff 2px solid

.darkLinks
    a
        color: black

.headerDark
    background-color: white
    box-shadow: 0 1px 3px 0 rgba(0, 0 ,0 ,0.1 )